* {
    margin: 0 auto;
}

body {
    display: flex;
    flex-wrap: wrap;
}

header {
    height: 60px;
    width: 100%;
    background-color: #f0e68c;
    color: black;
    font-family: 'Lucida Sans', sans-serif;
    display: flex;
    align-items: center;
}

#wrapper1, #wrapper2 {
    display: flex;
    flex-wrap: wrap;
}

#wrapper1 {
    flex: 4;
    flex-direction: column;
    padding: 15px;
}

#wrapper2 {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
    margin-top: 3.3%;
}

#createNote, #deleteNote, #styleNote {
    width: 350px;
    height: 180px;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid black;
    background-color: whitesmoke;
    box-sizing: border-box;
    overflow-y: auto;
}

#displayBoard {
    width: 90%;
    min-height: 600px;
    border-radius: 8px;
    border: 2px solid black;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
}

input { 
    border: 1px solid gray;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333;
    border-radius: 5px;
    color: whitesmoke;
    font-family: 'Lucida Sans', sans-serif;
    cursor: pointer;
}

button:hover {
    background-color: lightgray;
    color: black;
}

#createNoteNum, #deleteNoteNum, #styleNoteNum {
    margin-bottom: 25px;
    height: 20px;
    width: 8%;
}

textarea {
    border-radius: 8px;
    margin-bottom: 20px;
    width: 90%;
}

label {
    font-family: 'Lucida Sans', sans-serif;
}

h3, h2 {
    text-align: center;
    font-family: 'Lucida Sans', sans-serif;
}

.note {
    margin: 10px;
    width: 140px;
    height: 100px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: cursive;
}

.important {
    border: 3px solid red;
}

::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}
